/* CSS FILE */

body {
    height: 100vh;
    background-image: linear-gradient(130deg, #e1f2ff, rgb(35, 112, 255));
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Segoe UI', sans-serif;

}

h1 {
    color: rgb(255, 0, 0);
}

#addTodo {
    color: rgb(0, 0, 0);
}

.completed {
    color: grey;
    text-decoration: line-through;
}

.trashcan {

    margin-left: 10px;
    cursor: pointer;
}